{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Create a New Quiz</h2>

        <!-- Form for creating the quiz -->
        <form action="{% url 'quizes:add-quiz-view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Main form for the quiz -->
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    <div class="form-error">{{ field.errors }}</div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Create Quiz</button>
        </form>
    </div>
{% endblock %}
