{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    home
{%  endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          {% if user.is_authenticated %}
                      <button type="button" id="start-button" class="btn btn-success">yes</button>
              {% else %}
               <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Log in before start quiz">
                  <button class="btn btn-success" style="pointer-events: none;" type="button" disabled>Yes</button>
                </span>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="">
    <h1 class="h1">
        Quiz List
    </h1>
</div>

<hr>

{% for object in object_list %}
<div class="mb-3">

    <button type="button" class="btn btn-link modal-button" data-pk="{{object.pk}}" data-date="{{object.date}}"
        data-name="{{object.title}}" data-description="{{object.description}}" data-topic="{{object.topic}}"
        data-questions="{{object.number_of_questions}}" data-difficulty="{{object.difficulty}}"
        data-time="{{object.time}}" data-pass="{{object.required_score}}" data-bs-toggle="modal"
        data-bs-target="#quizStartModal">
        {{object.title}}
    </button>
</div>
    {% endfor %}
{%  endblock content %}
